/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Desktop sizes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body{
	text-align: center;
	overflow: hidden;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation Aside ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

aside{
	width: 15vw;
	position: fixed;
	left: 0;
	height: 100vh;
	text-align: center;
	z-index: 1;
}

.nav-mobile{
	display: none;
}

.nav-pc{
	margin-left: -10px;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0.7;
	transition: .3s;
}

body:hover .nav-pc{
	opacity: 1;
}

/* https://codepen.io/ming/pen/YwGbwV */
.nav-pc li{
	padding: 5px;
	cursor: pointer;
	margin: 30px;
	transition: .3s;
	width: 1.0em;
	height: 1.0em;
	border-top: 1px solid #fff;
	box-sizing: border-box;
	border: 2px solid #111;
	transition: .3s;
	transform: rotate(135deg);
}

.nav-pc li:hover {
	background-color: rgba(0,0,0,.7);
	transform: rotate(0deg);
}

.nav-pc li:nth-child(even):hover{
	transform: rotate(0deg);
}

.nav-pc .selected {
	transform: rotate(0deg);
	background-color: black;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Intro subsection ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.subContainer img{
	width: calc(7vw + 100px);
	padding-top: 1%;
	filter: brightness(80%);
	transition: .3s;
}

.subContainer img:hover{
	filter: brightness(100%);
}
